arch:
  - aarch64
  - amd64
  - armv7
description: "MQTT-Gateway for SAIC cars like MG5, ZS EV or Marvel R"
name: "SAIC MQTT Gateway (Python) (PreRelease)"
image: "saicismartapi/saic-python-mqtt-gateway"
url: "https://github.com/SAIC-iSmart-API/saic-home-assistant-addon"
slug: "saic_python_mqtt_gateway-pre"
stage: "experimental"
version: "0.6.1"
legacy: true
map: 
  - config:rw
options:
  MQTT_URI: "tcp://localhost:1883"
  MQTT_SERVER_CERT: ""
  MQTT_USER: ""
  MQTT_PASSWORD: ""
  MQTT_TOPIC: "saic"
  SAIC_USER: null
  SAIC_PASSWORD: null
  SAIC_REST_URI: "https://gateway-mg-eu.soimt.com/api.app/v1/"
  SAIC_REGION: "eu"
  SAIC_TENANT_ID: "459771"
  SAIC_PHONE_COUNTRY_CODE: ""
  ABRP_API_KEY: ""
  ABRP_USER_TOKEN: ""
  BATTERY_CAPACITY_MAPPING: ""
  OPENWB_LP_MAP: ""
  CHARGING_STATIONS_JSON: ""
  LOG_LEVEL: "INFO"
  MQTT_LOG_LEVEL: "INFO"
  SAIC_RELOGIN_DELAY: "900"
  HA_DISCOVERY_ENABLED: "True"
  HA_DISCOVERY_PREFIX: "homeassistant"
  HA_SHOW_UNAVAILABLE: "True"
  CHARGE_MIN_PERCENTAGE: "1.0"
  MESSAGES_REQUEST_INTERVAL: "60"
schema:
  MQTT_URI: str
  MQTT_SERVER_CERT: str?
  MQTT_USER: str?
  MQTT_PASSWORD: password?
  MQTT_TOPIC: str?
  SAIC_USER: str
  SAIC_PASSWORD: password
  SAIC_REST_URI: str?
  SAIC_REGION: str?
  SAIC_TENANT_ID: str?
  SAIC_PHONE_COUNTRY_CODE: str?
  ABRP_API_KEY: str?
  ABRP_USER_TOKEN: str?
  BATTERY_CAPACITY_MAPPING: str?
  OPENWB_LP_MAP: str?
  CHARGING_STATIONS_JSON: str?
  LOG_LEVEL: str?
  MQTT_LOG_LEVEL: str?
  SAIC_RELOGIN_DELAY: str?
  HA_DISCOVERY_ENABLED: str?
  HA_DISCOVERY_PREFIX: str?
  HA_SHOW_UNAVAILABLE: str?
  CHARGE_MIN_PERCENTAGE: str
  MESSAGES_REQUEST_INTERVAL: str?
init: false
host_network: true
